@import '~@angular/material/theming';

  .clickable:hover {
     @include mat-elevation(8);
    cursor: pointer;        
  }
  .selected{
    background-color: #ebfbff;
    transition: background-color 0.3s ease-out;
  }
  .completed{
    text-decoration: line-through;
  }